.c {

	width:100%;
	height: 100vh;
	background-image: radial-gradient(circle at 50% -20.71%, #fffff6 0, #fffbe1 16.67%, #faedcc 33.33%, #f2deb5 50%, #ebcf9f 66.67%, #e6c08c 83.33%, #e2b17a 100%);

}

.icssma:hover{
	background-color: rgb(170, 170, 170);
	
}
