.link {
	font-weight: 500;
	text-decoration: none;
	color: #000;

	&:hover {
		font-weight: 500;
		color: #FFB367
	}
}

.over {
	overflow: hidden;
}

.card-worker {
	min-width: 300px;
	min-height: 250px;
	max-height: 250px;
	background-color: #fff;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 0.5rem;
	text-decoration: none;

	.b{	
		color: #fff;
		background-color: #3F3D56;
		border-radius: 5px;
		padding: 2px !important;
	}

	.card-works {
		width: 100%;
		margin: 1rem 0;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		overflow: hidden;
		text-align: center;

		.work-img {
			width: 100px;
			margin: 0 0.4rem;
		}
	}
}