// Variables
$primary : #FFE277;
$secondary : #3F3D56;
$bg-main : #F0F2F5;

* { 
  box-sizing: border-box;
  padding : 0px;
  margin : 0px;
  overflow-x: hidden;
  

}

body { 
  background-color: $bg-main;
  overflow-x:hidden;
  height: 100%;
  width: 100%;
}

