.margin-right-icon {
    margin-right: 12px;
  }

  .containerForm2{
    width: 100%;
    height: 100vh;
    margin: 0%;
    padding: 30px;
    position: relative;
    background:white;
    
    
    Form{
      margin-left: 29%;//435px
      margin-right: 29%;//435px
      margin-top: 40px;
      
      background:#3F3D56;
      opacity: 0.8;
      color: white;
      width: 600px;
      border-radius: 10px;
      
      .fLogo3{
        margin-left: 170px;
        width: 100px;
        height: 100px;
      }
     .lb3{
      font-family: Lilita One;
      font-size: 36px;
      color: #ffff;
      text-decoration:none;
      margin-top: 10px;
     } 
  
    }
   
  }
  .inputStyle2{
    background-color: #FFFAF1;
  }

.A{
  background: red;
  overflow-x:visible;
}
.AB{
  background-color: blue;
}