
.save-top{
    margin-top: 5rem;
}

.save-bot{
    margin-bottom: 10rem;
}

.title{
    margin-top: 100px;
    background-color : #f8f8f8 !important;

}
.mrginTop{
    margin-top: 5rem;
}

.mainCard{
    margin-top: 20px;
    min-width: 520.05px;
    background-color: #3F3D56;
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
    link{
        text-decoration-color: red;
    }
    .log{
        width: 40px;
        height: 40px;
    }
    .btn1{
        font-family: Lilita One;
        font-size: 20px;
        line-height: 29px;
        background: #FFE277;
        border-radius: 10px;


        color:black;
    }

    .tab {
        cursor: pointer !important;
        overflow : hidden;
    }

    .card-title{
        overflow-y: hidden;
        text-decoration: none;
    }
    .lbl{
        
        text-decoration: none;
        font-family: Lilita One;
        font-size: 24px;
        color: #ffff;
        text-decoration:none;
    }
}
.a{
    margin-left: 20px;
    background-color:#FFE277;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Lilita One;
    font-size: 18px;
    color:black;
    text-decoration: none;

}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: black;
    background-color: orange;
    text-decoration: black;

}    
.nav-link{
    color: black;
    &:hover{
        color: black;
    }
    
}
.zoom:hover{
    background-color: #2e2d3f ;
    label{
        color: white;
    }
    transition: .4s;
    
    
}
.abc{
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .mainCard {
      margin-left: 20px;
    }
  }

  li{
      cursor: pointer;
      overflow: hidden;
  }