.filters-container {
	background-color: #3F3D56;
	border-radius: 5px;



	.select {
		background-color: #FFFAF1;
		padding: 0.7rem 0.2rem;
		border-radius: 5px;
		width: 100%;


	}

}


.s {
	padding: 0.7rem 0.2rem;
	border-radius: 5px;
	width: 100%;

}

.corner {
	border-radius: 5px;

}