.rectangle {
  width: 50%;
  height: 100vh;
  margin: 0%;
  position: relative;
  background:#3F3D56;
  opacity: 0.8;
  
  
}

.containerScroll{ 
  overflow-y: hidden; 
}

.imgWorkers{
  width:80%;
  height:80%;
  margin-left: 45px;
}

.containerForm{
  width: 50%;
  height: 100vh;
  margin: 0%;
  padding: 30px;
  position: relative;
  background:white;
  
  
  Form{
    margin-left: 40px;
    margin-top: 25px;
    background:#3F3D56;
    opacity: 0.8;
    color: white;
    width: 600px;
    border-radius: 10px;
    
    .fLogo3{
      margin-left: 170px;
      width: 100px;
      height: 100px;
    }
   .lb3{
    font-family: Lilita One;
    font-size: 48px;
    // display: flex;
    color: #ffff;
    text-decoration:none;
   } 

  }
 
}

//Login
.containerForm3{
  width: 50%;
  height: 100vh;
  margin: 0%;
  padding: 30px;
  position: relative;
  background:white;
 
  Form{
    margin-left: 40px;
    margin-top: 120px;
    background:#3F3D56;
    opacity: 0.8;
    color: white;
    width: 600px;
    border-radius: 10px;
    
    .fLogo4{
      margin-left: 120px;
      width: 100px;
      height: 100px;
    }
   .lb4{
    font-family: Lilita One;
    font-size: 48px;
    // display: flex;
    color: #ffff;
    text-decoration:none;
   } 

  }
 
}
.formDiv{
  margin-left: 20px;
  margin-top: 20px;
  width: 94%;

}
.inputStyle{
  background-color: #FFFAF1;
  height: 47px;
}
.buttonStyle{
  width: 94%;
  margin: 10px;
  margin-left: 20px;
  margin-top: 40px;
  font-family: Lilita One;
  font-size: 25px;
  line-height: 29px;
  color:black;
  
  background: #FFE277;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  
}
.buttonStyle2{
  width: 94%;
  margin: 10px;
  margin-left: 20px;
  margin-top: 40px;
  font-family: Lilita One;
  font-size: 25px;
  line-height: 29px;
  color:black;
  
  background: #FFE277;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  
}
.buttonStyle3{
  width: 94%;
  margin: 20px;
  margin-left: 20px;
  margin-top: 40px;
  font-family: Lilita One;
  font-size: 25px;
  line-height: 29px;
  color:black;
  
  background: #FFE277;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  
}
.textlabl{
  font-family: Lilita One;
  font-size: 24px;
}
.labLogo3{
  font-family: Lilita One;
  font-size: 18px;
  line-height: 34px;
  color:white;
  text-decoration:white;
  &:hover{
		font-weight: 500;
		color : #FFB367
	}
}
.lblMargin{
  margin-left: 20px;
}



// @media screen and (max-width: 768px) {
//     .rectangle {
//       display: none;
//     }
//   }